{% extends 'base.html' %}

{% if modo == 'nuevo' %}
    {% set page_title = 'Nuevo usuario' %}
{% else %}
    {% set page_title = 'Editar usuario' %}
{% endif %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<h2 class="mb-4">{{ page_title }}</h2>

{% if error %}
<div class="alert alert-danger">
    {{ error }}
</div>
{% endif %}

<form method="POST" autocomplete="off">

    {% include "partials/buscador_exportarUsuarios.html" %}

    <!-- BOTONES -->
    <div class="d-flex gap-2">
        <button class="btn btn-primary">Guardar</button>
        <a href="/usuarios" class="btn btn-secondary">Cancelar</a>
    </div>

</form>
{% endblock %}
